# Dependency directory
node_modules/

# Log files
npm-debug.log*

# Environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac junk
.DS_Store

# Wrangler files
.wrangler
.dev.vars
