@charset "utf-8";
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$primary: #e07b39;
$text: #1a1a1a;
$link: #e4640f;
$info: #004680;
$success: #8fbc8f;
$warning: #ffc857;
$danger: #d32f2f;
$background: change-color($primary, $lightness: 60%);

@import "bulma/versions/bulma-no-dark-mode.scss";

html {
    background-color: $background;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    height: min(100vh, calc(100vw * (3220 / 1812)));
    width: 100%;
    background-image: radial-gradient(
            circle,
            rgba($background, 0.5) 1px,
            transparent 1px
        ),
        linear-gradient(to bottom, $white 3.5rem, transparent min(30rem, 80%)),
        linear-gradient(
            to bottom,
            transparent min(calc(100vw * (3220 / 1812) * 0.5), 50%),
            $background min(calc(100vw * (3220 / 1812)), 100%)
        ),
        url("https://images.snackytrails.us/background.jpg");
    background-size: 18px 18px, auto, auto, 100% auto;
    background-blend-mode: darken, normal, normal, normal;
    background-repeat: repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0%, 0%, 0%, center 0%;
}
