@use "bulma/versions/bulma-no-dark-mode.scss" with (
    $text: #1a1a1a,
    $link: #e07b39,
    $primary: #e07b39,
    $info: #008080,
    $success: #8fbc8f,
    $warning: #ffc857,
    $danger: #d32f2f
);
