@charset "utf-8";
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$primary: #e07b39;
$text: #1a1a1a;
$link: #e4640f;
$info: #004680;
$success: #8fbc8f;
$warning: #ffc857;
$danger: #d32f2f;

@import "bulma/versions/bulma-no-dark-mode.scss";

html {
    background-image: radial-gradient(
            circle,
            change-color($primary, $lightness: 90%),
            1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) max(3rem, 5vh),
            rgba(255, 255, 255, 0.9) max(5rem, 10vh),
            transparent max(20rem, 40vh)
        ),
        linear-gradient(
            to bottom,
            transparent max(20rem, 40vh),
            change-color($primary, $lightness: 60%) max(50rem, 100vh)
        ),
        url("https://images.snackytrails.us/background.jpg");
    background-color: change-color($primary, $lightness: 60%);
    background-size: 18px 18px, 100% 100%, 100% 100%, 100% auto;
    background-blend-mode: multiply, normal, normal, normal;
    background-repeat: repeat, no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed, fixed;
    background-position: 0%, 0%, 0%, center;
}
